<!-- mobile menu -->
<div class="mobile-nav-container" id="mobileNav">
    <div class="mobile-nav-header">
        <button class="mobile-nav-toggle" id="menuToggle" aria-label="Menü öffnen">
            <div class="hamburger-icon">
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
            </div>
        </button>
    </div>
</div>
<nav class="mobile-nav-menu" id="mobileMenu"></nav>

<!-- desktop navbar -->
<nav class="main-nav" id="desktopNav"></nav>

<!------------------------------------------------------------------------------------------------------------------------>

<!-- navbar content -->
<template id="navContentTemplate">
    <div class="nav-content">
        <!-- main -->
        <div class="nav-main-wrapper">
            <a href="index.html" class="nav-main-section-link">Home</a>
            <a href="/" class="nav-main-section-link">About</a>
        </div>

        <!-- category -->
        <div class="nav-category-wrapper">
            <a href="/" class="nav-category-link">Category 0</a>
            <!-- sub -->
            <div class="nav-category-sublink-wrapper">
                <a href="/" class="nav-category-sublink">Sub-Link 0</a>
                <a href="/" class="nav-category-sublink">Sub-Link 1</a>
            </div>
        </div>
        
        <!-- category -->        
        <div class="nav-category-wrapper">
            <a href="/" class="nav-category-link">Category 1</a>
        </div>
        
        <!-- category -->        
        <div class="nav-category-wrapper">
            <a href="/" class="nav-category-link">Category 2</a>
        </div>
    </div>
</template>
